@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../../fonts/Montserrat-Bold.ttf');
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../../fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'open-sans';
    src: url('../../fonts/OpenSans-Regular.ttf');
}


body, html {
    height: 100%;
    font-family: 'Montserrat-Regular';
}
.row {
    height:100%;
}
.container {
    padding: 0;
}
.wrapper {
    height: 100%;
}
.header {
    height: 72px;
    background: white;
    text-transform: uppercase;
}
.header-container {
    height: 100%;
}
.header-list {
    height: 100%;
    line-height: 72px;
}
.header-logo {
    height: 100%;
    font-size: 32px;
 }
.header-logo-num {
    border: 2px solid black;
    padding: 0 9px;
}

.header-logo-text {
    height:100%;
    line-height: 72px;
}
.header-list-item {
    font-size: 16px;
    width: 100%;
}
.header-list-item li {
    display: inline-block;
    padding: 0 10px;
}

.select-slider {
    width: 100%;
    height: 500px;
}
.slider {
    height: 500px;
    width: 100%;
    background-size: cover;
    text-align: center;
    position: relative;
    display: none;
}
.slider::after {
    content: '';
    display: block;
    background: #455a64;
    width:100%;
    height: 500px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.4;

}
.item1 {
    background-image: url("../images/slider-images/top.jpg");
}
.item2 {
    background-image: url("../images/slider-images/Layer 4.jpg");
}
.slider-shevron {
    background: none;
    width: 37px;
    height: 37px;
    border: 2px solid #ff6e40;
    padding: 2px;
    color: white;
    position: absolute;
    line-height: 32px;
    z-index: 1000;
}

.shevron-left {
    top:231px;
    left: 30px;
}
.shevron-right {
    top:231px;
    right: 30px;
}
.slider-control {
    width: 100%;
    margin: 0 auto;
    text-transform: uppercase;
    color: white;
    position: relative;
    top: 125px;
    z-index: 1000;
}
.slider-control-h1 {
    font-size: 41px;
    margin: 0;
}
.slider-control-h2 {
    font-size: 16px;
    margin-bottom: 30px;
}
.slider-control-btn {
    background: none;
    border: 2px solid #ff6e40;
    font-size: 18px;
    text-transform: uppercase;
    padding: 13px 38px;
}
.slider-control-btn:hover {
    background: #ff6e40;
}

.show {
    display: block;
}
.about {
    text-align: center;
    border: 1px solid white
}
.about-container {
    height: 100%;
    margin: 100px auto;
    background: white;
}

.about-header {
    font-size: 16px;
    color: #bdbdbd;
    margin: 0;
    text-transform: uppercase;
}
.about-company {
    font-size: 30px;
    color: black;
    margin: 0;
    text-transform: uppercase;
}
.about-company-info {
    font-size: 16px;
    color: #b5b5b5;
    margin: 26px;

}
.about-btn {
    border: 2px solid black;
    padding: 15px 49px;
    font-size: 14px;
    color: black;
    background: none;
    text-transform: uppercase;
}
.about-btn:hover {
    background: black;
    color: white;
}

.services {
    background: #f5f5f5;
    text-align: center;
    border: 1px solid  #f5f5f5;
    padding-bottom: 99px;
}
.services-container {
    height: 100%;
    margin-top: 100px;
}
.some-services-items {
    margin-top: 33px;
}
.service-icon {
    display: block;
    width: 52px;
    height: 120px;
    float: left;
    font-size: 48px;
    padding-top: 22px;
    margin-right: 30px;
    color: #ff6e40;
}
.service-icon:after {
    content: url("../images/icons-images/Rounded corners.png");
    display: block;
    position: absolute;
    top: 6px;
    left: 2px;
}
.some-services-item-h1 {
    font-size: 20px;
    margin: 0;
    text-align: start;
}
.some-services-item-about {
    margin: 0;
    font-size: 16px;
    text-align: start;
    color: #7f7f7f;
}

.call-action {
    background: #424242;
    height: 130px;
    text-align: center;
}
.call-action-h1 {
    font-size: 22px;
    color: white;
    margin-top: 43px;
}
.call-action-info {
    font-family: 'open-sans';
    font-size: 16px;
    color: #bdbdbd;
}
.call-action-btn {
    width: 276px;
    text-transform: uppercase;
    font-size: 14px;
    border: 2px solid #ff6e40;
    background: none;
    line-height: 100%;
    padding: 16px 75px;
    color: white;
    margin-top: 40px;
}
.call-action-btn:hover {
    background: #ff6e40;
}

.gallery {
    padding: 100px 0 ;
    text-align: center;
}
.gallery-header {
    font-size: 16px;
    color: #bdbdbd;
    margin: 0;
    text-transform: uppercase;
}
.gallery-works {
    font-size: 30px;
    color: black;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 33px;
}
.gallery-item {
    height: 380px;
    width: 380px;
    margin: 0 3px 10px;
    background-image: url('../images/gallery-images-sprite/spritesheet.png');
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;

}
.gallery-substrate {
    width: 380px;
    height: 380px;
    display: none;
}
.substrate {
    width: 380px;
    height: 380px;
    background: #999999;
    opacity: 0.5;
}
.gallery-item1 {
    background-position: -887px -707px;
}
.gallery-item2 {
    background-position: -1606px -94px;
}
.gallery-item3 {
    background-position: -230px -602px;
}
.gallery-item4 {
    background-position: -122px -78px
}
.gallery-item5 {
    background-position: -811px -60px;
}
.gallery-item6 {
    background-position: -1370px -664px;
}

.gallery-item-hover {
    height: 100px;
    width: 380px;
    background: #f4f4f4;
    position: absolute;
    top: 280px;
    left: 0;
    padding-top: 25px;
}
.gallery-item-hover-h1 {
    font-size: 18px;
    text-transform: uppercase;
    color: #ff6e40;
}
.gallery-item-hover-text {
    font-size: 16px;
    color: #8e8e8e;
}
.gallery-item-hover-icon {
    display: block;
    width: 62px;
    height: 62px;
    border-radius: 62px;
    background: #ff6e40;
    font-size: 30px;
    padding-top: 17px;
    color: white;
    position: absolute;
    top: -172px;
    left: 160px;
}

.contacts {
    height: 540px;
    background: #f5f5f5;
    padding-top:40px;
    position: relative;
}
.contacts-container {
    margin-bottom: 35px;
}
.contacts-info {
    font-size: 16px;
    color: #bdbdbd;
    text-transform: uppercase;
}
.contacts-h1 {
    font-size: 30px;
    color: black;
    text-transform: uppercase;
}

.contacts-icon {
    display: block;
    width: 62px;
    height: 62px;
    border-radius: 62px;
    background: #ff6e40;
    float: left;
    font-size: 30px;
    padding-top: 16px;
    margin-right: 13px;
    color: white;
    text-align: center;
}
.contacts-address-text {
    font-family: open-sans;
    font-size: 16px;
    color: #b0b0b0;
}
.number-email-height {
    line-height: 60px;
}
.chevron-contact {
    bottom: 20px;
    position: absolute;
    right: 30px;
}
.chevron-contact a {
    height: 32px;
    width: 28px;
    display: inline-block;
}
#map {
    height: 400px;
    width: 100%;
    background-image: url('../images/slider-images/map.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.footer {
    height: 65px;
    background: #f5f5f5;
    font-size: 14px;
    color: #a0a0a0;
    line-height:65px;
}
.footer-social {
    font-size: 16px;
}
.footer-social li {
    display: inline-block;
    padding: 0 10px;
}
.footer-center-text {
    text-align: center;
}
.footer-right-text {
    text-align: end;
}
.footer-delimiter {
    color: #fab6a1;
}

@media (max-width: 750px) {
    .service-icon {
        float: none;
    }
    .call-action {
        height: 193px;
    }
    .call-action-btn {
        margin-top: 71px;
        width: 245px;
    }
    .contacts-logo {
        display: none;
    }

}
@media (max-width: 992px) {
    .call-action-h1 {
        margin-top: 10px;
    }
    .contacts-container {
        text-align: center;
    }
    .contacts-container div {
        display: inline-block;
    }
    .contacts-logo {
        display: none;
    }
    .contacts-address-text {
        font-size: 12px;
    }
    .footer {
        font-size: 10px;
    }
    .footer-social {
        font-size: 12px;
    }
}
@media (max-width: 1200px) {
    .call-action-h1 {
        margin-top: 23px;
    }
}
@media (max-width: 734px) {

    .header-list-item {
        font-size: 13px;
    }

}
@media (max-width: 633px) {
    .header {
        height: 77px;
    }
    .header-list {
        line-height: 37px;
    }
    .header-logo {
        font-size: 25px;
    }
}
@media (max-width:515px) {
    .header {
        height: 112px;
    }
    .header-logo {
        font-size: 20px;
    }
    .header-list {
        line-height: 37px;
    }
    .footer {
        line-height: 35px;
    }
}